<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- JQuery -->
        <script type="text/javascript" src="{{ url_for('static', filename='jQuery.js') }}"></script>
        <!-- Semantic JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='semantic.js') }}"></script>
        <!-- Main Script -->
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
        <!-- Icons -->
        <script src="https://use.fontawesome.com/1491bcbe71.js"></script>
        <!-- Semantic CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='semantic.css') }}">
        <!-- Main CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='add-ins.css') }}">
        <title>Comment y aller ?</title>
    </head>

    <body style='background-size: cover; background-image: url("{{ url_for('static', filename='bg3.jpg') }}");'>
        <div class="ui middle aligned center aligned grid">
            <div class="seven wide column">
                <div class="ui segment">
                    <h2 class="ui header">
                        <div class="content">Comment y aller ?</div>
                    </h2>
                    <form class="ui form" id='form'>
                        <div class="field" id="address_1">
                            <input type="text" class="address" name="address_1" id="1" placeholder="Adresse 1">
                        </div>
                        <div class="field" id="address_2">
                            <input type="text" class="address" name="address_2" id="2" placeholder="Adresse 2">
                        </div>

                        <div class="grouped fields">
                            <label>Critère du meilleur itinéraire pour vous : </label>
                            <div class="field">
                                <div class="ui radio checkbox left floated">
                                    <input type="radio" name="critere" id="rapide" checked="checked">
                                    <label>Le plus rapide</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox left floated">
                                    <input type="radio" name="critere" id="court">
                                    <label>Le plus court</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox left floated">
                                    <input type="radio" name="critere" id="rapide_pied">
                                    <label>Le moins de marche à pied</label>
                                </div>
                            </div>
                        </div>
                        </br>  
                        <div class="field">
                            <div class="ui checkbox left floated">
                                <input type="checkbox" id="charge">
                                <label>Je voyage chargé.e</label>
                            </div>
                        </div>
                        </br>
                        <div class="ui error message" id="error_message"></div>
                        </br>
                        <button class="ui submit button" name="submit" id="submit">Go !</button>
                        <div class="ui success teal message" id="success_message">
                            <div id="info_label" class="ui floating label teal">...</div>
                            <div id="result_type">
                                <div class="ui active inverted dimmer">
                                    <div class="ui tiny text active loader">Loading</div>
                                    <p></p>
                                </div>
                            </div>
                            <div id="result_duration"></div>
                        </div>
                    </form>
                </div>
                <div class="ui segment" id="informations">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th>Itinéraire</th>
                                <th>Informations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div id="transit_flag">Transport en commun</div></td>
                                <td id="transit_info"></td>
                            </tr>
                            <tr>
                                <td><div id="velib_flag">Velib</div></td>
                                <td id="velib_info"></td>
                            </tr>
                            <tr>
                                <td><div id="autolib_flag">Autolib</div></td>
                                <td id="autolib_info"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>